<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Dashboard FORD</title>
</head>
<body>
    <div class="dashboard">
        <h2>Dashboard FORD</h2>
          
            <div class="top-section">
              <div>
                <label for="veiculo">Veículo</label>
                <select id="veiculo" [(ngModel)]="selectedCar" (change)="onChangeCar()">
                  <option *ngFor="let car of cars" [value]="car.nome">{{ car.nome }}</option>
                </select>
              </div>
          
              <div *ngFor="let item of selectedCarData.metrics" class="info-box">
                <h4>{{ item.title }}</h4>
                <p>{{ item.value }} Unidades</p>
              </div>
            </div>
          
            <div class="car-image">
              <img [src]="selectedCarData.image" alt="Imagem do carro" />
            </div>
          
            <table>
              <thead>
                <tr>
                  <th>Código - Vin</th>
                  <th>Odômetro</th>
                  <th>Nível de Combustível</th>
                  <th>Status</th>
                  <th>Lat.</th>
                  <th>Longo.</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ selectedCarData.vin }}</td>
                  <td>{{ selectedCarData.odom }}</td>
                  <td>{{ selectedCarData.fuel }}</td>
                  <td>{{ selectedCarData.status }}</td>
                  <td>{{ selectedCarData.lat }}</td>
                  <td>{{ selectedCarData.long }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
      
</body>
</html>
