<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <input type="checkbox" id="barraMenu" hidden>
    <label for="barraMenu" class="menu-icon">&#9776;</label>
    
    
    <nav class="menu">
      <img src="img/ford.png" alt="Ford Logo" class="logo">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </nav>
    

    <div class="overlay"></div>

    <img src="img/ranger.png" class="background-image" alt="Ranger">
  
    <main>
      <div class="content-box">
        <h3>Sistema de dados FORD</h3>
        <p><a href="#">Seja bem-vindo(a)!</a></p>
      </div>
    </main>
    

</body>
</html>